@media print {
    body {
        margin: 0;
        padding: 0;
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    @page {
        size: auto;
        margin: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    #print,
    article,
    header,
    nav,
    .cookies,
    .footer,
    .widgets-container,
    ins,
    .adsense,
    .ads,
    .adsense-wrapper,
    .adsbygoogle,
    .ipr-container,
    .calcWrapper,
    [class*="ad-"],
    [id*="ad-"],
    [class*="ns-"] {
        display: none !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        page-break-inside: avoid !important;
        page-break-after: avoid !important;
        page-break-before: avoid !important;
    }
}